name: Test

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.21

    - name: Start Services
      run: |
        cd test
        docker-compose up -d

    - name: Wait for services
      run: sleep 10

    - name: Run Tests
      env:
        DATASTORE_EMULATOR_HOST: localhost:8081
        DATASTORE_PROJECT_ID: app-test
      run: go test -v ./...

    - name: Stop Services
      if: always()
      run: |
        cd test
        docker-compose down